@page "/user-profile/{UserId:int}"

<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Ustawienia użytkownika</h4>
			</div>
			<div class="card-body">
				<EditForm Model="@UserViewModel" OnValidSubmit="SaveChangesAsync">
					<div class="row mt-3">
						<div class="col-md-6">
							<div class="form-group form-group-default">
								<label>Imię</label>
								<input type="text" class="form-control" name="name" placeholder="Imię" value="@UserViewModel.FirstName">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-group-default">
								<label>Nazwisko</label>
								<input type="text" class="form-control" placeholder="Nazwisko" value="@UserViewModel.LastName">
							</div>
						</div>
					</div>
					<div class="row mt-3">
						<div class="col-md-6">
							<div class="form-group form-group-default">
								<label>Typ</label>
								<select class="form-control" value="@UserViewModel.TypeOfUser">
									<option value="Operator">Operator</option>
									<option value="Manager">Administrator</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-group-default">
								<label>Email</label>
								<input type="email" class="form-control" name="email" placeholder="Email" value="@UserViewModel.Email">
							</div>
						</div>
					</div>
					<div class="text-end mt-3 mb-3">
						<button class="btn btn-success" type="submit">Zapisz</button>
						<button class="btn btn-danger" type="button" @onclick="ResetUserProfileAsync">Reset</button>
					</div>
                </EditForm>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card card-profile">
			<div class="card-header" style="background-image: url('assets/img/AgroTemp/background_agrotemp.jpg'); background-size:cover">
				<div class="profile-picture">
					<div class="avatar avatar-xl">
						<img src="assets/img/AgroTemp/user.png" alt="..." class="avatar-img rounded-circle">
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="user-profile text-center">
					<div class="name">@UserViewModel.FirstName @UserViewModel.LastName</div>
					<div class="job">@UserViewModel.TypeOfUser</div>
					<div class="desc">A man who hates loneliness</div>
				</div>
			</div>
		</div>
	</div>
</div>

