@inherits LayoutComponentBase

    <div class="wrapper">
          <Sidebar @bind-PageTitle="_pageTitle"/>

          <div class="main-panel">
            <div class="main-header">
              <div class="main-header-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                  <a href="dashboard" class="logo">
                    <img
                      src="assets/img/AgroTemp/AgroTemp_logo.png"
                      alt="navbar brand"
                      class="navbar-brand"
                      height="75"
                    />
                  </a>
                  <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                      <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                      <i class="gg-menu-left"></i>
                    </button>                       
                  </div> 
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
              </div>
              <!-- Navbar Header -->
              <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                <div class="container-fluid">               
                  <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">                 
                    <li class="nav-item topbar-icon dropdown hidden-caret">
                      <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="notification">@_activeAlarmsCount</span>
                      </a>
                      <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
                        <li>
                          <div class="dropdown-title">
                            Ilość aktywnych alarmów: @_activeAlarmsCount
                          </div>
                        </li>
                        <li>
                          <div class="notif-scroll scrollbar-outer">
                            <div class="notif-center">                   
                                @foreach(var activeAlarm in _activeAlarms.OrderByDescending(o => o.CreatedAtToDisplay).Take(3).ToList())
                                {                                   
                                    <a class="disabled">
                                        <div class="notif-content p-2">
                                          <span class="block"> @activeAlarm.DescriptionToDisplay </span>
                                          <span class="time">@activeAlarm.CreatedAtToDisplay</span>
                                        </div>
                                    </a>
                                }  
                            </div>
                          </div>
                        </li>
                        <li>
                          <a class="see-all" href="ActiveAlarms" @onclick="SeeAllActiveAlarms_Click">
                              Sprawdź wszystkie alarmy
                              <i class="fa fa-angle-right"></i>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item topbar-icon dropdown hidden-caret">
                      <a
                        class="nav-link"
                        data-bs-toggle="dropdown"
                        href="#"
                        aria-expanded="false"
                      >
                        <i class="fas fa-layer-group"></i>
                      </a>
                      <div class="dropdown-menu quick-actions animated fadeIn">
                        <div class="quick-actions-header">
                          <span class="title mb-1">Quick Actions</span>
                          <span class="subtitle op-7">Shortcuts</span>
                        </div>
                        <div class="quick-actions-scroll scrollbar-outer">
                          <div class="quick-actions-items">
                            <div class="row m-0">
                              <a class="col-6 col-md-4 p-0" href="#">
                                <div class="quick-actions-item">
                                  <div class="avatar-item bg-danger rounded-circle">
                                    <i class="far fa-calendar-alt"></i>
                                  </div>
                                  <span class="text">Calendar</span>
                                </div>
                              </a>
                              <a class="col-6 col-md-4 p-0" href="#">
                                <div class="quick-actions-item">
                                  <div
                                    class="avatar-item bg-warning rounded-circle"
                                  >
                                    <i class="fas fa-map"></i>
                                  </div>
                                  <span class="text">Maps</span>
                                </div>
                              </a>
                              <a class="col-6 col-md-4 p-0" href="#">
                                <div class="quick-actions-item">
                                  <div class="avatar-item bg-info rounded-circle">
                                    <i class="fas fa-file-excel"></i>
                                  </div>
                                  <span class="text">Reports</span>
                                </div>
                              </a>
                              <a class="col-6 col-md-4 p-0" href="#">
                                <div class="quick-actions-item">
                                  <div
                                    class="avatar-item bg-success rounded-circle"
                                  >
                                    <i class="fas fa-envelope"></i>
                                  </div>
                                  <span class="text">Emails</span>
                                </div>
                              </a>
                              <a class="col-6 col-md-4 p-0" href="#">
                                <div class="quick-actions-item">
                                  <div
                                    class="avatar-item bg-primary rounded-circle"
                                  >
                                    <i class="fas fa-file-invoice-dollar"></i>
                                  </div>
                                  <span class="text">Invoice</span>
                                </div>
                              </a>
                              <a class="col-6 col-md-4 p-0" href="#">
                                <div class="quick-actions-item">
                                  <div
                                    class="avatar-item bg-secondary rounded-circle"
                                  >
                                    <i class="fas fa-credit-card"></i>
                                  </div>
                                  <span class="text">Payments</span>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li class="nav-item topbar-user dropdown hidden-caret">
                      <a
                        class="dropdown-toggle profile-pic"
                        data-bs-toggle="dropdown"
                        href="#"
                        aria-expanded="false"
                      >
                        <div class="avatar-sm">
                          <img
                            src="assets/img/AgroTemp/user.png"
                            alt="..."
                            class="avatar-img rounded-circle"
                          />
                        </div>
                        <span class="profile-username">
                          <span class="op-7">Witaj,</span>
                          <span class="fw-bold">@_firstName</span>
                        </span>
                      </a>
                      <ul class="dropdown-menu dropdown-user animated fadeIn">
                        <div class="dropdown-user-scroll scrollbar-outer">
                          <li>
                            <div class="user-box">
                              <div class="avatar-lg">
                                <img src="assets/img/AgroTemp/user.png" alt="image profile" class="avatar-img rounded" />
                              </div>
                              <div class="u-text">
                                <h4>@_fullName</h4>
                                <p class="text-muted">@_role</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="user-profile/@_userId.ToString()" @onclick=MyProfileSettings_Click>Mój Profil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="logout">Wyloguj</a>
                          </li>
                        </div>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
              <!-- End Navbar -->
            </div>

            <div class="container">
                <div class="page-inner">
                    <div class="page-header">
                        <h4 class="page-title">@_pageTitle</h4>
                    </div>
                    <div class="page-category">
                            @Body
                    </div>
                </div>
            </div>
         </div>
     </div>        


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>



